ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    right: 180px;
    position: fixed;
}

li {
    float: right;
}

li a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: black;
    margin-right: 50px;
}